* {
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none; 
  border: none;
}

body {
  background-color: #1d1d1d;
  color: white;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

img {
  max-width: 100%;
  display: block;
}

