* {
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none; 
  border: none;
}

body {
  background-color: #040404;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin: 20px;
}

img {
  max-width: 100%;
  display: block;
}

