$main-color: #0d0d0d;
$main-light-color: #1d1d1d;
$main-lighter-color: #ccc;
$secondary-color: #76b9fc;
$secondary-dark-color: #2172c4;

$box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);


// $main-color: #0d0d0d;
// $main-light-color: #1d1d1d;
// $main-lighter-color: #aaa;
// $secondary-color: #2a89e7;