@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

body {
  color: white;
  background-color: #0d0d0d;
}

.heading {
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px auto;
}

.heading span {
  color: #76b9fc;
}

.header {
  background: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
}

.header .logo {
  padding: 0 20px;
  font-size: 18px;
  color: white;
  letter-spacing: -1px;
}

.header .navbar {
  padding: 0 20px;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar ul li a {
  display: block;
  padding: 20px;
  color: white;
  font-size: 18px;
}

.header .navbar ul li a i {
  color: #76b9fc;
}

.header .navbar ul li a:hover {
  background-color: #76b9fc;
}

.header .navbar ul li a:hover i {
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1270px;
  height: 100vh;
  margin: auto;
}

.home-section div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 420px;
          flex: 1 1 420px;
  margin: 20px 0;
  padding: 20px 0;
}

.home-section .image {
  text-align: center;
}

.home-section .image img {
  margin-top: 100px;
  width: 400px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.home-section .content {
  padding: 0 20px;
}

.home-section .content h1 {
  font-size: 36px;
  padding: 10px 0;
}

.home-section .content span {
  color: #76b9fc;
  font-size: 20px;
  padding: 5px 0;
}

.home-section .content p {
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
  padding: 10px 0;
}

.projects-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.projects-flex .project {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  background: #ccc;
  color: #0d0d0d;
  margin: 10px;
}

.projects-flex .project:hover {
  color: #76b9fc;
  background: #0d0d0d;
}

.projects-flex .project .project-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.contact .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .info-container h2 {
  padding-bottom: 20px;
}

.contact .info-container p {
  line-height: 1.5;
  color: #ccc;
}

.contact .info-container .content-container {
  padding: 0 20px;
  margin: 0 40px;
  width: calc(1270px - 50%);
}

.contact .info-container .box-container {
  padding: 0 20px;
  margin: 0 30px;
  width: calc(1270px - 50%);
}

.contact .info-container .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.contact .info-container .box-container .box i {
  font-size: 30px;
  color: #76b9fc;
}

.contact .info-container .box-container .box h3 {
  font-size: 20px;
}

.contact .info-container .box-container .social {
  padding: 10px 0;
}

.contact .info-container .box-container .social a {
  font-size: 20px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  background: #1d1d1d;
  color: white;
  text-align: center;
  margin-right: 5px;
}

.contact .info-container .box-container .social a:hover {
  color: #0d0d0d;
  background: #76b9fc;
}
/*# sourceMappingURL=main.css.map */