@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@import 'base';
@import 'variables';

// .heading {
//   text-align: center;
//   font-size: 64px;
//   margin-bottom: 20px auto;

//   span {
//     color: $secondary-color
//   }
// }

// .container {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   max-width: 1270px;
//   height: 100vh;
//   margin: auto;
//   // gap: 20px;
//   // border: 1px solid white;
// }

// .row {
//   width: 100%;
// }

.header {
  background: $main-color;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  // top: 0;
  width: 100%;

  .logo {
    padding: 20px;
    font-size: 18px;
    color: white;
    letter-spacing: -1px;
  }

  .nav {
    .nav-list {
      display: flex;

        a {
          display: block;
          padding: 20px;
          color: white;
          font-size: 18px;

          i {
              color: $secondary-color;
          }

          &:hover {
            background-color: $secondary-color;

            i {
              color: white;
            }
          }
        }
      
    }
  }
}

.home-section {
  background: $main-light-color;
  padding: 20px 0;
  
  .home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  gap: 40px;

  .box {
    // expandir - diminuir - minímo de px para não quebrar (wrap)
    flex: 1 1 420px;
    padding: 20px 0;
  }

  .home-image {
    width: 360px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  .home-content {
    h1 {
      padding: 10px 0;
      color: white;
      }
            
      span {
      color: $secondary-color;
      font-size: 24px;
      padding: 10px 0;
      }
            
      p {
      // font-size: 16px;
      color: $main-lighter-color;
      line-height: 1.5;
      padding: 10px 0;
      }
    }
  }
}

.projects-section {
  background: $main-lighter-color;
  padding: 20px 0;

  .projects-container {
    
    span {
      color: $secondary-dark-color;
    }
      
    .projects-flex {
      display: flex;
      flex-wrap: wrap;
      max-width: 900px;
      margin: 20px auto;

      .project {        
        flex: 1 1 300px;
        background: $main-light-color;
        color: white;
        margin: 10px;

        &:hover {
          color: $secondary-color;
          background: $main-color;
        }

        /* .project-image {
          width: 350px;
        } */

        .project-title {
          font-size: 18px;
          font-weight: 600;
          text-align: center;      
        }
      }
    }
}

.contact-section {
  background: $main-light-color;
  color: white;
  height: 100%;
  padding: 20px 0;

  h2 {
    padding-top: 20px;
  }

  span {
    color: $secondary-color;
  }
  
  .info-container {
    display: flex;
    margin: 60px auto ;
    justify-content: space-around;

    h3 {
      font-size: 26px;
    }
  
    p {
      line-height: 1.5;
      color: $main-lighter-color;
    }

    .content-container {
      padding: 0 20px;
      margin: 0 40px;
      width: calc(1270px - 50%);
    }

    .box-container {
      padding: 0 20px;
      margin: 0 30px;
      width: calc(1270px - 50%);

      .box {
        display: flex;
        gap: 10px;
        padding: 10px 0;

        i {
          font-size: 30px;
          color: $secondary-color;
        }

        h4 {
          font-size: 20px;
        }
      }

      .social {
        padding: 10px 0;
 
        a {
          font-size: 20px;
          height: 45px;
          width: 45px;
          line-height: 45px;
          border-radius: 50%;
          background: $main-color;
          color: white;
          text-align: center;
          margin-right: 5px;

          &:hover {
            color: $main-color;
            background: $secondary-color;
          }
        }
      }
    }
  }
}

