@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@import 'base';
@import 'variables';

body {
  color: white;
  background-color: $main-color;
}

.heading {
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;

  span {
    color: $secondary-color
  }
}

.header {
  background: $main-light-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // padding: 20px;

  .logo {
    padding: 20px;
    font-size: 18px;
    color: white;
    letter-spacing: -1px;
  }

  .navbar {

    ul {
      display: flex;

      li {
        // margin: 0 10px;

        a {
          display: block;
          padding: 20px;
          color: white;
          font-size: 18px;

          i {
              color: $secondary-color;
          }

          &:hover {
            background-color: $secondary-color;

            i {
              color: white;
            }
          }
        }
      }
    }
  }
}


.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1270px;
  height: calc(100vh - 90px);
  margin: auto;
  // gap: 20px;
  // border: 1px solid white;

  div {
    flex: 1 1 420px;
    // expandir - diminuir - minímo de px para não quebrar (wrap)
    margin: 20px 0;
    padding: 20px 0;
  }

  .image {
    text-align: center;

    img {
      width: 400px;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  .content {
    padding: 0 20px;

    h1 {
      font-size: 36px;
      padding: 10px 0;
    }
      
    span {
      color: $secondary-color;
      font-size: 20px;
      padding: 5px 0;
    }
      
    p {
      font-size: 16px;
      color: $main-lighter-color;
      line-height: 1.5;
      padding: 10px 0;
    }
  }
}


.contact {

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // gap: 2rem;

    .info-container {
      width: 40%;

      h2 {
        font-size: 36px;
        // padding-bottom: 1rem;
      }

      p {
        // font-size: 1.5rem;
        line-height: 1.8;
        color: $main-lighter-color;
        padding: 10px 0;
      }

      .box-container {
        padding: 10px 0;

        .box {
          display: flex;
          gap: 10px;
          padding: 10px 0;

          i {
            font-size: 30px;
            color: $secondary-color;
          }

          h3 {
            font-size: 20px;
          }
        }
      }

      
    }
  }
}


// @media (max-width: 1270px) {
//   .home {
//     width: auto;
//     margin: auto 100px;
//   }
// }

// @media (max-width: 840px) {
//   .home {
//     // flex-direction: column;

//     .image {
//       margin: 0 auto;
//       padding: 0;
      
//       img {
//         width: 300px;
//       }
//     }

//     .content {
//         margin: 0 20px;
//         text-align: center;
//         padding: 0px 20px;
//     }
//   }
// }

// @media (max-width: 530px) {
//   .header {
//     justify-content: space-around;
//   }

//   .home {
//     margin: 0;
//     padding: 0;

//     .image {
//       margin: 0;
//       padding: 0;

//       img {
//         width: 250px;
//       }
//     }
//   }
// }