@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@import 'base';
@import 'variables';


.header {
  background: $color-primary-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  a {
    color: white;
  }

  .menu {
    display: flex;

    li {
      margin: 0 10px;

      a {
        display: block;
        padding: 10px;
      }
    }
  } 
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1270px;
  height: calc(100vh - 85px);
  margin: auto;
  // gap: 20px;
  // border: 1px solid white;

  div {
    flex: 1 1 420px;
    // expandir - diminuir - minímo de px para não quebrar (wrap)
    margin: 20px 0;
    padding: 20px 0;
  }

  .image {
    text-align: center;

    img {
      width: 400px;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  .content {
    padding: 0 20px;

    h1 {
      font-size: 36px;
      padding: 10px 0;
    }
      
    span {
      color: $color-secondary;
      font-size: 26px;
      padding: 5px 0;
    }
      
    p {
      font-size: 16px;
      color: $color-primary-lighter;
      padding: 10px 0;
    }
  }
}


// @media (max-width: 1270px) {
//   .home {
//     width: auto;
//     margin: auto 100px;
//   }
// }

// @media (max-width: 840px) {
//   .home {
//     // flex-direction: column;

//     .image {
//       margin: 0 auto;
//       padding: 0;
      
//       img {
//         width: 300px;
//       }
//     }

//     .content {
//         margin: 0 20px;
//         text-align: center;
//         padding: 0px 20px;
//     }
//   }
// }

// @media (max-width: 530px) {
//   .header {
//     justify-content: space-around;
//   }

//   .home {
//     margin: 0;
//     padding: 0;

//     .image {
//       margin: 0;
//       padding: 0;

//       img {
//         width: 250px;
//       }
//     }
//   }
// }